.reviews {
  margin-bottom: 80px;
}

.reviews__blockquote {
  margin: 0;
  margin-bottom: 16px;
}

.reviews__cite {
  font-style: normal;
  font-weight: 500;
}

.reviews__container {
  margin: 0 auto;
  width: 1200px;
  border: 1px solid var(--main-color, #AE7C78);
  padding: 40px 44px 64px;
  box-sizing: border-box;
}

.reviews__heading {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: bold;
  font-size: var(--font-size-lg, 36px);
  line-height: var(--line-height-lg, 48px);
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.reviews__item {
  text-align: center;
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 106px;
}
