.pages {
  min-width: 1220px;
  font-size: 16px;
  line-height: 20px;
  font-family: var(--font-main, "Montserrat", Arial, sans-serif);
  font-weight: normal;
  color: var(--main-color, #AE7C78);
  background: var(--light-color, #FFFFFF);
}
