.nav__item-link {
  color: var(--main-color, #AE7C78);
  text-decoration: none;
  cursor: pointer;
}

.nav__item-link:hover {
  opacity: 0.7;
}

.nav__item-link:focus,
.nav__item-link:active {
  opacity: 0.2;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav__list-item:nth-child(6n + 3) {
  margin-right: 97px;
}
