.promo__button {
  background: #D89999;
    border-radius: 40px;
    color: #FFFFFF;
    padding: 30px 70px;
    display: inline-block;
    vertical-align: middle;
    appearance: none;
    border: none;
    text-decoration: none;
}

.promo__button:hover {
  opacity: 0.8;
}

.promo__button:active {
  opacity: 0.5;
}
